
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    color:black!important;
    font-size:30px;
 
   
}
 
.box{
    display: inline-block;
    margin-left: 10px!important;
    width: 25%;
    margin-top: 20px;
    height: 300px;
    
    perspective: 1000px;
}

.content{
    border-top-right-radius:10px; 
    border-top-left-radius:10px; 
    border-bottom-right-radius:10px; 
    border-bottom-left-radius:10px; 
    position: relative;
    height: 300px;
    width: 300px;
    transition: all 2s;
    backface-visibility: hidden;
    background-color: cadetblue;
    box-shadow: 10px 10px 5px black;
    font-size: 45px;
}
.content img{
    border-top-right-radius:10px; 
    border-top-left-radius:10px; 
}

.aciklama{
    border-top-right-radius:10px; 
    border-top-left-radius:10px; 
    border-bottom-right-radius:10px; 
    border-bottom-left-radius:10px; 
    position: absolute;
    width: 300px;
    height: 100%;
    top:0;
    left: 0;
   background-color: cadetblue;
   color:white;
    transform:rotateY(-180deg);
    transition: all 2s;
    backface-visibility: hidden;
    padding: 10px!important;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px black;
}
.aciklama p{
    text-align: justify;
    hyphens: auto;
    text-indent: 10px;
    font-weight: bold;
}
.box:hover .content{
    transform:rotateY(180deg);
  

}
.box:hover .aciklama{
    transform:rotateY(0);
}


